PORT=4000
CLIENT_URL=http://localhost:3000
DATABASE_URL=postgresql://postgres.<project-ref>:password@aws-1-<region>.pooler.supabase.com:5432/postgres
DIRECT_URL=postgresql://postgres:password@db.<project-ref>.supabase.co:5432/postgres
JWT_ACCESS_SECRET=change-me-access
JWT_REFRESH_SECRET=change-me-refresh
